@page
@model phr.Pages.PassedModel
@{
	ViewData["Title"] = "Passed";
}

<div class="container p-2">
	<div class="col-12 pt-2">
		<h4><strong>Passed Signals</strong></h4>
	</div>
	<div class="col-12 pt-4 mt-4 border-top">
		<div class="d-flex flex-row align-items-center">
			<div class="input-group">
				<span class="input-group-text bg-white"><i class="bi bi-search"></i></span>
				<input type="text" class="form-control border-start-0" placeholder="Search" aria-label="Search" id="searchInput">
			</div>
			<i class="bi bi-funnel ms-2" id="filter"></i>
		</div>
	</div>
	@* <div class="col p-2 mt-4 rounded" style="background-color:#e1e2e3"> *@
	@* 	<div class="d-flex"> *@
	@* 		<div class="me-auto">Legend Priority</div> *@
	@* 		<span class="badge text-bg-danger me-2" style="font-size:1rem;">1</span> *@
	@* 		<span class="badge text-bg-orange me-2" style="font-size:1rem;">2</span> *@
	@* 		<span class="badge text-bg-green me-2" style="font-size:1rem;">3</span> *@
	@* 		<span class="badge text-bg-primary me-2" style="font-size:1rem;">4</span> *@
	@* 		<span class="badge text-bg-purple" style="font-size:1rem;">5</span> *@
	@* 	</div> *@
	@* </div> *@
	<div class="col-12 mt-2">
		<div class="row d-flex align-items-center">
			<div class="col fs-6 fw-bold">
				Passed Signals
			</div>
		</div>
	</div>
	<div class="col-12 mt-2">
		<div class="row g-2 row-cols-2 row-cols-lg-5" id="actionsList">
			@foreach (var passed in Model.Signals)
			{
				<div class="col-6">
					<div class="p-3 bg-white border rounded-3" onclick="location.href='@Url.Page("Passed", new { id = @passed.Id })'">
						<div class="row">
							<div class="col text-start fs-5 fw-bold">@passed.TotalAction</div>
							<div class="col"><img src="~/images/signal.png" class="rounded-3 float-end cursor-pointer" onclick="openModal(event, this)" data-action="Passed" data-code="@passed.ActionCode" data-type="@passed.ActionType" data-desc="@passed.ActionDesc" data-bs-toggle="modal" data-bs-target="#exception-modal" alt="..."></div>
						</div>
						<div class="col text-start fs-6 fw-bold text-uppercase single-line" id="actionCode">
							@passed.ActionCode
						</div>
						<div class="col text-start text-secondary single-line" id="actionName">
							@passed.ActionName
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>

<script>

	var exceptions = document.querySelectorAll('#actionsList .col-6');
	document.getElementById('searchInput').addEventListener('input', function () {
		var searchTerm = this.value.toLowerCase();

		exceptions.forEach(function (exception) {
			var title = exception.querySelector('#actionCode').textContent.toLowerCase();
			var description = exception.querySelector('#actionName').textContent.toLowerCase();

			if (title.includes(searchTerm) || description.includes(searchTerm)) {
				exception.style.display = ''; // Show the item
			} else {
				exception.style.display = 'none'; // Hide the item
			}
		});
	});

	const toggleFilter = document.querySelector('#filter');
	var ascending = false;
	toggleFilter.onclick = function() {
		const exceptionsArray = Array.from(exceptions);

		exceptionsArray.sort((a, b) => {
			const titleA = a.querySelector('#actionCode').textContent.toLowerCase();
			const titleB = b.querySelector('#actionCode').textContent.toLowerCase();

			return ascending ? titleA.localeCompare(titleB) : titleB.localeCompare(titleA);
		});

		const container = document.getElementById('actionsList');
		container.innerHTML = ''; // Clear existing items
		exceptionsArray.forEach(exception => container.appendChild(exception));

		ascending = !ascending;
		toggleFilter.classList.toggle('bi-funnel');
		toggleFilter.classList.toggle('bi-funnel-fill');
	};

	function openModal(event, element) {
		event.stopPropagation();

		var code = element.dataset.code;
		var desc = element.dataset.desc;
		var type = element.dataset.type;
		var action = element.dataset.action;

		document.querySelector('.modal-body #code').textContent = code;
		document.querySelector('.modal-body #type').textContent = type;
		document.querySelector('.modal-body #desc').textContent = desc;

		var actions = document.getElementsByClassName('action');
		for (var i = 0; i < actions.length; i++) {
			actions[i].textContent = action;
		}
	}

</script>

<div class="modal fade" tabindex="-1" id="exception-modal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header border-0">
				<h5 class="modal-title"><strong>Signal Detail</strong></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p class="mb-0"><strong><span class="action"></span> Description:</strong></p>
				<p class="mb-0"><span class="action"></span> Code: <span id="code"></span></p>
				<p><span class="action"></span> Module Type: <span id="type"></span></p>
				<p id="desc" class="mt-1"></p>
			</div>
			<div class="modal-footer border-0">
				<button type="button" class="btn btn-success w-100" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>