@page
@model phr.Pages.Exceptions.General_Information.WelldownInfoModel
@using static phr.Config.Helper
@{
	ViewData["Title"] = "Welldown Info";
}
<div class="container p-2 d-flex align-items-end flex-column">
	<div class="col-12 py-2 border-bottom">
		<h4><strong>Welldown Info</strong></h4>
	</div>
	<div class="col-12">
		<label for="down-date" class="form-label mt-3"><strong>Down Date</strong></label>
		<input class="form-control" id="down-date" type="text" value="@GetValueOrDefault(Model.WellLastInfo?.DownDate)" readonly disabled>

		<label for="s-or-ss" class="form-label mt-3"><strong>S or SS</strong></label>
		<input class="form-control" id="s-or-ss" type="text" value="@GetValueOrDefault(Model.WellLastInfo?.SorSS)" readonly disabled>

		<label for="hrs-since-off" class="form-label mt-3"><strong>HRS Since Off</strong></label>
		<input class="form-control" id="hrs-since-off" type="text" value="@GetValueOrDefault(Model.WellLastInfo?.HrsSinceOff)" readonly disabled>

		<label for="proact-react" class="form-label mt-3"><strong>Proact. or React</strong></label>
		<input class="form-control" id="proact-react" type="text" value="@GetValueOrDefault(Model.WellLastInfo?.ProactOrReact)" readonly disabled>

		<label for="days-since-off" class="form-label mt-3"><strong>Days Since Off</strong></label>
		<input class="form-control" id="days-since-off" type="text" value="@GetValueOrDefault(Model.WellLastInfo?.DaysSinceOff)" readonly disabled>

		<label for="event-category" class="form-label mt-3"><strong>Event Category</strong></label>
		<input class="form-control" id="event-category" type="text" value="@GetValueOrDefault(Model.WellLastInfo?.EventCategory)" readonly disabled>

		<label for="bopd-deferred" class="form-label mt-3"><strong>BOPD Deferred</strong></label>
		<input class="form-control" id="bopd-deferred" type="text" value="@GetValueOrDefault(Model.WellLastInfo?.BopdDefered)" readonly disabled>

		<label for="event-reason" class="form-label mt-3"><strong>Event Reason</strong></label>
		<input class="form-control" id="event-reason" type="text" value="@GetValueOrDefault(Model.WellLastInfo?.EventReason)" readonly disabled>

		<label for="total-down-oil" class="form-label mt-3"><strong>Total Down Oil</strong></label>
		<input class="form-control" id="total-down-oil" type="text" value="@GetValueOrDefault(Model.WellLastInfo?.TotalDownOil)" readonly disabled>

		<label for="event-system" class="form-label mt-3"><strong>Event System</strong></label>
		<input class="form-control" id="event-system" type="text" value="@GetValueOrDefault(Model.WellLastInfo?.EventSystem)" readonly disabled>

		<label for="remark" class="form-label mt-3"><strong>Remark</strong></label>
		<input class="form-control" id="remark" type="text" value="@GetValueOrDefault(Model.WellLastInfo?.DownRemark)" readonly disabled>

	</div>
</div>
